.editForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr 1fr 1fr;
  width: auto;
}

.cardNumber {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 1rem;
  justify-self: start;
}

.label {
  font-size: 1rem;
}

.input {
  width: 10rem;
  margin-top: 0;
}

.labelFront {
  grid-row: 2;
  grid-column: 1 / 3;
}

.inputFront {
  grid-row: 3;
  grid-column: 1 / 3;
}

.labelBack {
  grid-row: 4;
  grid-column: 1 / 3;
}

.inputBack {
  grid-row: 5;
  grid-column: 1 / 3;
}

.formSubmitBtn {
  grid-row: 6;
  grid-column: 1;
}

.formCancelEditBtn {
  grid-row: 6;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}
