.form-edit {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr 1fr 1fr;
  width: auto;
}

.card-number {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 1rem;
  justify-self: start;
}

.label {
  font-size: 1rem;
}

.card-input {
  width: 10rem;
  margin-top: 0;
  border: none;
  border-bottom: 1px solid rgb(195, 195, 195);
  background-color: transparent;
  color: var(--color-primary-dark);
  outline: none;
  /* height: 3rem; */
  width: 11rem;
  font-family: 'Dosis';
  font-size: 2rem;
  font-weight: 600;
}

.card-input::placeholder {
  color: rgb(223, 223, 223);
}

.input-front {
  grid-row: 3;
  grid-column: 1 / -1;
}

.input-back {
  grid-row: 5;
  grid-column: 1 / -1;
}

.form-btn {
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: unset;
  color: var(--color-primary);
  transition: color 0.3s ease-out;
}

.form-btn:hover {
  cursor: pointer;
  color: var(--color-primary-darkish);
}

.form-submit-btn {
  grid-row: 6;
  grid-column: 1;
  font-size: 2rem;
}

.form-cancel-edit-btn {
  grid-row: 6;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
}
