.avatar-container-small {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  justify-self: end;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.avatar-container-small::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--color-contrast-primary);
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}

.avatar-img {
  transition: all 0.3s ease-in-out;
  width: 4rem;
  height: 4rem;
}

.img-small:hover:not(:disabled) {
  cursor: pointer;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
