.flashcard {
  position: relative;
  width: 13rem;
  height: 13rem;
  /* margin: 1rem; */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: var(--color-tertiary);
  color: var(--color-primary-dark);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr 1fr;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 5px;
}

.flashcard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-out;
  pointer-events: none;
}

.flashcard:hover::before {
  /* border-color: var(--color-contrast-tertiary); */
  border-color: var(--color-gray);
}

.deleting {
  background-color: lightslategray;
}

.card-number {
  grid-row: 1;
  grid-column: 7;
  font-size: 1rem;
}

.card-front {
  grid-row: 2;
  grid-column: 1/-1;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
}

.card-back {
  grid-row: 3;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.card-btn {
  font-size: 1.2rem;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: unset;
  color: var(--color-secondary);
  transition: color 0.3s ease-out;
}

.card-btn:disabled {
  background-color: unset;
}

.card-btn:not([disabled]):hover {
  cursor: pointer;
  color: var(--color-primary-darkish);
}

.edit-card-btn {
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  margin: 0;
  padding: 0;
}

.delete-card-btn {
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  margin: 0;
  padding: 0;
}

/* .input {
  margin: 10px;
}

form {
  margin-bottom: 10px;
} */
