.flashcard {
  width: 13rem;
  height: 13rem;
  margin: 15px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr 1fr;
  /* padding: 0px 10px 10px 10px; */
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 5px;
}

.deleting {
  background-color: lightslategray;
}

.cardNumber {
  font-size: 1rem;
  justify-self: start;
}
.cardFront {
  grid-row: 2;
  grid-column: 1/-1;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
}
.cardBack {
  grid-row: 3;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.cardBtn {
  font-size: 1.2rem;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.cardBtn:hover {
  cursor: pointer;
}

.editCardBtn {
  grid-row: 4;
  grid-column: 1/4;
}

.deleteCardBtn {
  grid-row: 4;
  grid-column: 4/-1;
}
