.flashcard {
  width: 13rem;
  height: 13rem;
  /* margin: 1rem; */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: var(--color-tertiary);
  color: var(--color-primary-dark);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr 1fr;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 5px;
}

.deleting {
  background-color: lightslategray;
}

.card-number {
  grid-row: 1;
  grid-column: 7;
  font-size: 1rem;
}

.card-front {
  grid-row: 2;
  grid-column: 1/-1;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
}

.card-back {
  grid-row: 3;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.card-btn {
  font-size: 1.2rem;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: unset;
  color: var(--color-primary-dark);
}

.card-btn:disabled {
  background-color: unset;
}

.card-btn:hover {
  cursor: pointer;
}

.edit-card-btn {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  /* HACK: better solution than negative margins? */
  padding: 0;
}

.delete-card-btn {
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  margin: 0;
  /* margin-right: -1rem; */
  padding: 0;
}

/* .input {
  margin: 10px;
}

form {
  margin-bottom: 10px;
} */
