.flashcard {
  width: 13rem;
  height: 13rem;
  /* margin: 1rem; */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr 1fr;
  /* padding: 0px 10px 10px 10px; */
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 5px;
}

.deleting {
  background-color: lightslategray;
}

.card-number {
  font-size: 1rem;
  justify-self: start;
}

.card-front {
  grid-row: 2;
  grid-column: 1/-1;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
}

.card-back {
  grid-row: 3;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.card-btn {
  font-size: 1.2rem;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.card-btn:hover {
  cursor: pointer;
}

.edit-card-btn {
  grid-row: 1;
  grid-column: 5;
  margin: 0;
  /* HACK: better solution than negative margins? */
  margin-right: -1rem;
  padding: 0;
}

.delete-card-btn {
  grid-row: 1;
  grid-column: 6/7;
  justify-self: start;
  font-size: 1rem;
  margin: 0;
  margin-right: -1rem;
  padding: 0;
}

/* .input {
  margin: 10px;
}

form {
  margin-bottom: 10px;
} */
