.flashcard-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
  margin-bottom: 0.6rem;
}

.deck-container {
  border-radius: 2.5rem;
  background-color: #fff;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #000;
  margin: 1.6rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
}

.deck-header {
  background-color: var(--color-primary);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 4.2rem 4.2rem 1fr 4.2rem 4.2rem;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-bottom: 0.6rem;
  height: 8rem;
}

.deck-btn {
  border: none;
  background-color: unset;
  color: #ffffff9c;
  padding: 0;
}

.deck-btn:not([disabled]):hover {
  /* font-size: 1.9rem; */
  color: #fff;
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
  cursor: pointer;
}

.deck-btn:disabled {
  color: #c6c6c69c;

  background-color: unset;
}

.deck-edit-button {
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  margin-left: -4px;
}

.deck-delete-button {
  grid-row: 1;
  grid-column: 1;
}

.deck-name-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 800;
  justify-self: center;
  align-self: center;
  user-select: none;
  /* height: 2rem; */
}

.deck-study-button {
  background-color: var(--color-contrast-primary);
  grid-row: 1/-1;
  grid-column: 4/-1;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 0 16px 0 0;
  border-width: unset;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -0.03rem;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}

.deck-study-button::after {
  background-clip: unset;
  background-color: unset;
  border: unset;
  border-radius: unset;
  border-width: unset;
  bottom: unset;
  content: unset;
  left: unset;
  position: unset;
  right: unset;
  top: unset;
  z-index: unset;
}

.deck-study-button:hover:not(:disabled) {
  font-size: 1.9rem;
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
}

.add-card-button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 13rem;
}

.deck-container h1 {
  font-size: 2rem;
}

.show-card-btn {
  margin-bottom: 0.6rem;
}

.add-card-btn {
  font-size: 4rem;
  color: var(--color-secondary);
  transition: 400ms ease;
}

.add-card-btn:not([disabled]):hover {
  color: var(--color-primary);
}
