.flashcardUl {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
}

.container-deck {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #000;
  margin: 1.6rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.addCardBtn {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
}

/* .container-deck:hover {
  box-shadow: inset 0 0 0 3px #82c1e5;
} */

.container-deck h1 {
  font-size: 2rem;
}
