.flashcard-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
}

.deck-container {
  border-radius: 2.5rem;
  background-color: #fff;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #000;
  margin: 1.6rem;
  /* padding: 0 0 10px 0; */
  display: flex;
  flex-direction: column;
}

/* <div className="deckNumber">{deckNumber + 1}</div>
        <button className="deleteDeckBtn" disabled={isSubmitting}>
          ❌
        </button>
        <div className="deckName"> */

.deck-header {
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: var(--color-contrast-secondary);
  margin-bottom: 10px;
  height: 8rem;
}

.deck-edit-button {
  grid-row: 1;
  grid-column: 2;
}

.deck-delete-button {
  grid-row: 1;
  grid-column: 1;
}

.deck-name-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  /* height: 2rem; */
}

.deck-study-button {
  grid-row: 1/-1;
  grid-column: 4/-1;
}

.add-card-button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
}

.deck-container h1 {
  font-size: 2rem;
}
