/* Type Scale

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

font weight: 400

whitespace: multiples of 16px
*/

.Vocabulazy {
  width: auto;
  min-width: var(--width-app-min-width);
  max-width: var(--width-app-max-width);
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-radius: 2.5rem;
  margin: 2rem;
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.25);
}

.back-btn {
  margin: 10px;
}

.deck-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.6rem;
}

/* .footer {
  margin-top: 1.3rem;
} */

/* universal elements */
/* buttons */

/* universal effects */
.highlight {
  /* transform: translateY(-1px); */
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.01), 0 2px 6px rgba(0, 0, 0, 0.25);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms, visibility 400ms;
}
