/* Type Scale

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

font weight: 400

whitespace: multiples of 16px
*/

.Vocabulazy {
  width: auto;
  min-width: 35rem;
  max-width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-radius: 2.5rem;
  margin: 2rem;
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.25);
}

.main-container {
  background-color: white;
  color: rgb(20, 20, 20);
  width: 100%;
  border-radius: 0 0 16px 16px;
  /* overflow: auto; */
  /* margin-bottom: 1.6rem; */
}

.back-btn {
  margin: 10px;
}

.new-deck-btn {
}

.deck-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-container {
  width: 100%;
}

/* .add-deck-container {
  height: 5rem;
  margin-bottom: 0;
} */

h1 {
  font-size: 3.6rem;
}

.heading-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2rem 5rem 15rem 1fr 2rem 2rem;
  margin-top: 1.6rem;
}

.header-main {
  margin-bottom: 0.9rem;
}

.avatar-container {
  grid-row: 1/-1;
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
}

.heading-username {
  grid-row: 1;
  grid-column: 3/4;
  justify-self: start;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.heading-subheading {
  grid-row: 2;
  grid-column: 3/4;
  justify-self: start;
  align-self: center;
  font-size: 1.2rem;
}

.darkmode-container {
  grid-row: 1/-1;
  grid-column: 5/6;
  justify-self: end;
  align-self: center;
}

/* .footer {
  margin-top: 1.3rem;
} */

/* universal elements */
/* buttons */

.emoji-btn {
  background-color: transparent;
  align-self: center;
  justify-self: center;
  height: fit-content;
  width: fit-content;
}

/* universal effects */

.glow {
  box-shadow: 0 0 20px 2px var(--color-contrast-secondary);
}

.hidden {
  visibility: hidden;
}
