.dropdown {
  position: absolute;
  top: 6.5rem;
  right: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-tertiary);
  width: 16rem;
  height: 20rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 1px solid var(--color-gray);
  z-index: 2;
}

.dropdown-fade-enter {
  opacity: 0;
}
.dropdown-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.dropdown-btn {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4rem 1fr;
  font-size: 1.6rem;
  color: var(--color-primary-dark);
  background: none;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
}

.dropdown-btn:hover:not([disabled]) {
  background-color: var(--color-gray);
  cursor: pointer;
}

.dropdown-btn:disabled {
  background-color: var(--color-gray);
}

.top-btn {
  border-radius: 16px 16px 0 0;
}

.bottom-btn {
  border-radius: 0 0 16px 16px;
}

.dropdown-icon {
  grid-row: 1;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}

.dropdown-description {
  grid-row: 1;
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
}

.divider-horizontal {
  border-bottom: 1px solid var(--color-gray);
}

#darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

#darkmode .label {
  width: 38px;
  height: 14px;
  background-color: #111;
  color: #fff;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

#darkmode .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#darkmode .checkbox:checked + .label .ball {
  transform: translateX(24px);
}
