.Study {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-header-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 6rem 1fr 6rem;
  background-color: var(--color-primary);
  border-radius: 2.5rem 2.5rem 0 0;
  margin-bottom: 0.6rem;
  height: 8rem;
  width: 100%;
  margin-bottom: 1.6rem;
}

.study-header {
  grid-row: 1/-1;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 800;
}

.study-view.button.deck-study-button {
  grid-column: 1/2;
  border-radius: 16px 0 0 0;
}

.study-timer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3/-1;
  color: #fff;
  background-color: var(--color-secondary);
  border-radius: 0 16px 0 0;
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu Mono';
  font-weight: 600;
  font-size: 1.8rem;
  align-self: center;
  justify-self: center;
}

.stopwatch {
  font-size: 2.2rem;
}

.overview {
  display: grid;
  grid-template-rows: 1fr 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.4rem;
}
.overview-element {
  color: var(--color-primary-darkish);
}
.overview-element.stack {
  grid-row: 1;
  grid-column: 1/2;
}
.overview-element.correct {
  grid-row: 1;
  grid-column: 2/3;
}
.overview-element.wrong {
  grid-row: 1;
  grid-column: 3/4;
}

.overview-count {
  color: var(--color-);
}

.ProgressBar {
  width: 28.4rem;
  grid-row: 2;
  grid-column: 1/-1;
  align-self: flex-end;
}

.study-buttons {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.studyFlashcard-finished {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-primary-dark);
  width: 30rem;
  height: 30rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.button-correct {
  background-color: #25a244;
}

.button-correct::after {
  background-color: #7cc78f;
}

.button-wrong {
  background-color: #dc2f02;
}

.button-wrong::after {
  background-color: #e76d4e;
}
