.account-view-container {
  width: auto;
  min-width: var(--width-app-min-width);
  max-width: var(--width-app-max-width);
  height: auto;
}

.profile-picture {
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
  position: relative;
  display: inline-block;
}

.camera-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 3.8rem;
  height: 3.8rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 3px solid var(--color-tertiary);
  border-radius: 25%;
  font-size: 2.2rem;
  opacity: 1;
  visibility: visible;
  transition: all 100ms ease-in;
}

.camera-btn:hover:not(disabled) {
  cursor: pointer;
}

.account-view-header {
  position: relative;
  background-color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light-gray);
  border-radius: 2.5rem 2.5rem 0 0;
  margin-bottom: 1.6rem;
}

.return-btn {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  outline: none;
  background: none;
  padding: 0;
  border: none;
  color: var(--color-light-gray);
  font-size: 2rem;
  transition: all 0.3s ease-out;
}

.return-btn:hover:not(:disabled) {
  cursor: pointer;
  color: var(--color-tertiary);
  transform: scale(1.1);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.avatar-container {
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 3px solid var(--color-light-gray);
  overflow: hidden;
}

.account-view.avatar-img {
  width: 16rem;
  height: 16rem;
}

.user-name {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: var(--color-contrast-primary);
}

.user-since {
  font-size: 1.2rem;
  color: var(--color-light-gray);
  margin-bottom: 1.2rem;
}

.top-stats {
  color: var(--color-dark-gray);
}

.data-flashcards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 0.4rem 1.6rem 0.4rem;
  row-gap: 0.4rem;
}

.data-one {
  grid-row: 1;
  grid-column: 1/2;
}

.fade-one-enter {
  opacity: 0;
}
.fade-one-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.fade-two-enter {
  opacity: 0;
}
.fade-two-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-three-enter {
  opacity: 0;
}
.fade-three-enter-active {
  opacity: 1;
  transition: opacity 1600ms;
}
.fade-four-enter {
  opacity: 0;
}
.fade-four-enter-active {
  opacity: 1;
  transition: opacity 2200ms;
}

.data-two {
  grid-row: 1;
  grid-column: 2/3;
}

.data-three {
  grid-row: 2;
  grid-column: 1/2;
}

.data-four {
  grid-row: 2;
  grid-column: 2/3;
}

.data-flashcard-content {
  font-size: 4rem;
  font-weight: 600;
  width: 16rem;
  height: 16rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2rem 2rem 11.6rem 1.2rem;
  border-radius: 16px;
}

.data-flashcard-header {
  font-size: 1.6rem;
  color: var(--color-primary-darkish);
  grid-row: 2;
}

.data-flashcard-chart {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-dark);
}
