.account-view-container {
  width: auto;
  min-width: var(--width-app-min-width);
  max-width: var(--width-app-max-width);
  height: auto;
}

.profile-picture {
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
  position: relative;
  display: inline-block;
}

.camera-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 3.8rem;
  height: 3.8rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 3px solid var(--color-tertiary);
  border-radius: 25%;
  font-size: 2.2rem;
}

.account-view-header {
  background-color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light-gray);
  border-radius: 2.5rem 2.5rem 0 0;
  margin-bottom: 3.2rem;
}

.avatar-container {
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 3px solid var(--color-light-gray);
  overflow: hidden;
}

.account-view.avatar-img {
  width: 16rem;
  height: 16rem;
}

.user-name {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: var(--color-contrast-primary);
}

.user-since {
  font-size: 1.2rem;
  color: var(--color-light-gray);
  margin-bottom: 1.2rem;
}

.user-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.2rem;
  column-gap: 1rem;
  font-size: 1.6rem;
}

.top-stats {
  color: var(--color-dark-gray);
}

.bottom-stats {
}

.top-stats-decks {
  grid-row: 1;
  grid-column: 1/2;
}

.bottom-stats-decks {
  grid-row: 2;
  grid-column: 1/2;
}

.top-stats-cards {
  grid-row: 1;
  grid-column: 2/3;
}

.bottom-stats-cards {
  grid-row: 2;
  grid-column: 2/3;
}

.top-stats-sessions {
  grid-row: 1;
  grid-column: 3/4;
}

.bottom-stats-sessions {
  grid-row: 2;
  grid-column: 3/4;
}

.top-stats-time {
  grid-row: 1;
  grid-column: 4/5;
}

.bottom-stats-time {
  grid-row: 2;
  grid-column: 4/5;
}

.user-chart {
  height: 35rem;
  width: 35rem;
}
