ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.container {
  width: auto;

  border-radius: 15px;
  background-color: rgb(156, 233, 181);
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 1.2rem;
}
