ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.container {
  width: 90vw;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(103, 232, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
