/* Type Scale

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

font weight: 400

whitespace: multiples of 16px
*/

.Vocabulazy {
  width: auto;
  max-width: 85vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #0582ca;
  color: whitesmoke;
  text-align: center;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.25);
}

.mainContainer {
  background-color: #efefef;
  color: rgb(20, 20, 20);
  width: 100%;
  /* overflow: auto; */
  margin-bottom: 1.6rem;
}

button {
  border: none;
  background-color: #82c1e5;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 4px;
  margin: 0 5px;
}

button:hover {
  cursor: pointer;
}

.backbtn {
  margin: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.liContainer {
  width: 100%;
}

h1 {
  font-size: 3.6rem;
}

.heading-title {
  letter-spacing: 0.7px;
  margin-bottom: 0;
  margin-top: 0.8rem;
}

/* .header-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

.span-title {
  grid-column: 1;
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
  color: #efefef;
}

.heading-welcome {
  grid-row: 1;
  grid-column: 2;
}

.footer {
  margin-bottom: 0.8rem;
}

/* universal elements */

/* buttons */

.emojiBtn {
  background-color: transparent;
  align-self: center;
  justify-self: center;
  height: fit-content;
  width: fit-content;
}
