.study-flashcard {
  font-size: 10rem;
  font-weight: 800;
  width: 30rem;
  height: 30rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.study-card-front {
  background-color: var(--color-flashcard-front-bg);
  color: var(--color-flashcard-front);
}

.study-card-back {
  background-color: var(--color-flashcard-back-bg);
  color: var(--color-flashcard-back);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
