@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700;800&display=swap');

:root {
  --color-primary: #3c559f;
  --color-primary-shade: #678dfd;
  --color-secondary: #a4bbfe;
  --color-tertiary: #f0f4ff;
  --color-contrast-primary: #fd8e39;
  --color-contrast-secondary: #f3722cad;
  --color-contrast-tertiary: #fdf3f1;
  --color-text-primary: black;
  --color-text-secondary: black;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

button:disabled {
  background-color: rgb(183, 188, 194);
  color: rgb(121, 123, 124);
}
button:disabled:hover {
  cursor: not-allowed;
}

.active {
  background-color: rgb(255, 175, 100);
}

.button {
  appearance: button;
  background-color: var(--color-primary-shade);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button:after {
  background-clip: padding-box;
  background-color: var(--color-secondary);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button-small {
  width: 10rem;
  height: 3.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 0;
  text-align: center;
}
