@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700;800&family=Roboto+Mono:wght@400;600&family=Ubuntu+Mono:wght@700&display=swap');

:root {
  --color-primary: #4e73e0;
  --color-primary-shade: #678dfd;
  --color-primary-darkish: #273a70;
  --color-primary-dark: #1f2e5a;

  --color-secondary: #a4bbfe;
  --color-tertiary: #ffffff;
  --color-contrast-primary: #fd8e39;
  --color-contrast-secondary: #f3722c;
  --color-contrast-tertiary: #fdf3f1;

  --color-gray: #dedede81;
  --color-light-gray: #f0f0f0f6;
  --color-dark-gray: #7d7e96;
  --color-text-primary: black;
  --color-text-secondary: black;

  --width-app-min-width: 35rem;
  --width-app-max-width: 50rem;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: white;
}

h1 {
  text-align: center;
}

button:disabled {
  background-color: rgb(197, 201, 207);
  color: rgb(216, 215, 215);
}
button:disabled:hover {
  cursor: not-allowed;
}

.active {
  background-color: rgb(255, 175, 100);
}

.button {
  appearance: button;
  background-color: var(--color-primary-shade);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button::after {
  background-clip: padding-box;
  background-color: var(--color-secondary);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button-small {
  width: 10rem;
  height: 3.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 0;
  text-align: center;
  transition: all 0.1s ease-out;
}
/* 
.button-small:hover:not(:disabled) {
  transform: scale(1.01);
} */
