@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

button:disabled {
  background-color: rgb(183, 188, 194);
  color: rgb(121, 123, 124);
}
button:disabled:hover {
  cursor: not-allowed;
}

.active {
  background-color: rgb(255, 175, 100);
}
