@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

button:disabled {
  background-color: rgb(183, 188, 194);
  color: rgb(121, 123, 124);
}
